<!DOCTYPE html>
<html>
<head>
  <title>8d</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1>8d Online Woodshop</h1>
  </header>
  <div id="page">
    <div id="header_buffer">
    </div>

<%= yield %>

    <div id="footer_buffer">
    </div>
  </div>
  <footer>
    <p><%= link_to 'About us', about_path %></p>
  </footer>

</body>
</html>
